<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeWebApps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/PracticeWebApps.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AutoCompletion.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <a class="navbar-brand" href="/Index">EuroMovie</a>

            <form class="d-flex custom-search-form" role="search" method="post" asp-page="Search">
                <input type="radio" id="quickSort" name="sortingAlgo" class="radio-buttons" value="quickSort" checked="checked" />
                Quick Sort
                <input type="radio" id="mergeSort" name="sortingAlgo" class="radio-buttons" value="mergeSort" />
                Mege Sort

                <input id="searchQuery" name="searchQuery" class="form-control me-2 custom-search-input" type="search" placeholder="Search" aria-label="Search">
                <button class="btn custom-search-button" type="submit" name="handler">Search</button>
            </form>

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-route-name="@User.Identity.Name" asp-page="/UserProfile">Hello, @User.Identity.Name</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-page="/LogOut">Log Out</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/LogIn">Log In</a>
                    </li>
                </ul>
            }
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer>
        &copy; 2023 - PracticeWebApps - <a class="text-white" asp-area="" asp-page="/Privacy">Privacy</a>
        <a class="text-white" asp-area="" asp-page="/About">About</a>
        <a class="text-white" asp-area="" asp-page="/Contact">Contact</a>
    </footer> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/AutoCompletion.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/OpenRating.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>