@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

<h2>@ViewData["Title"].</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
