@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

<h2 style="color:white;">@ViewData["Title"]</h2>
<h3 style="font-size:24px; font-weight:bold; margin-bottom:10px; color:white">@Model.Message</h3>

<p style="font-size:16px;line-height:1.5; color:white;">
    <br />
    EuroMovie is an award-winning movie rating website.
    <br />
    <br />
    We have years of experience in rating and helping users find their most desired movies to watch.
    <br />
    <br />
    Our product helps people not waste time and motivation to find and watch a movie worth the wait.
</p>
