@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
@if (User.Identity.IsAuthenticated)
{
    Layout = "~/Pages/Shared/_LoggedInLayout.cshtml";
}
else
{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/LogIn.css" asp-append-version="true" />

<div class="mb-3">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</div>
<form method="post">
    <div class="form-group">
        <div class="create-account">
            <label asp-for="ContactDTO.Name">Name</label>
            <input asp-for="ContactDTO.Name" />
        </div>
    </div>
    <div class="form-group">
        <div class="create-account">

            <label asp-for="ContactDTO.Email">Email address</label>
            <input asp-for="ContactDTO.Email" />
        </div>
    </div>
    <div class="form-group">
        <div class="create-account">
            <label asp-for="ContactDTO.Subject">Subject</label>
            <input asp-for="ContactDTO.Subject" />
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="create-account">
            <a asp-page="/Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}