@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
@if (User.Identity.IsAuthenticated)
{
    Layout = "~/Pages/Shared/_LoggedInLayout.cshtml";
}
else
{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/LogIn.css" asp-append-version="true" />

<div class="mb-3">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
</div>
<form method="post">
    <div class="mb-3">
        <label asp-for="ContactDTO.Name">Name</label>
        <input asp-for="ContactDTO.Name" />
    </div>
    <div class="mb-3">
        <label asp-for="ContactDTO.Email">Email address</label>
        <input asp-for="ContactDTO.Email" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="ContactDTO.Subject">Subject</label>
        <input asp-for="ContactDTO.Subject" />
    </div>
    <div class = "mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}