@page
@model PracticeWebApps.Pages.ForgotPasswordModel
@{
}
<h1>@Model.PageTitle</h1>

<link rel="stylesheet" href="/css/LogIn.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/Layout.css" asp-append-version="true" />

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="Email">Email</label>
        <span asp-validation-for="CreateAccountDTO.Email" class="text-white"></span>
        <input type="email" class="form-control" asp-for="CreateAccountDTO.Email" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>