@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<p style="color:white;text-align:center;">
    We will not use any user data for the benefit of an organisation. 
    <br />
    <br />
    The website is for a personal project reqired from the university the developer is enrolled in.
    <br />
    <br />
    There is no benefit in using personal data for profit gain in this project.
    <br />
    <br />
    Your data will be safe.
</p>
