body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:red;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.create-account {
    text-align:center;
    padding:7px;
}
.alert {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
}
.btn-primary{
    margin-top:10px;
}