body, h1, h2, ul/*, form */{
    margin:0;
    padding:0;
}

body{
    font-family:Arial, sans-serif;
    line-height:1.6;
    background-color:#000;
    color:#fff;
}

.container{
    max-width:800px;
    margin:0 auto;
    padding:20px;
    background-color: #ff0000;
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

/*form{
    padding:20px;
    border-radius:5px;
    background-color:red;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}*/

input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:3px;
    box-sizing:border-box;
}

button{
    background-color:#fff;
    color:#000;
    padding:10px 15px;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
button:hover{
    background-color:#ddd;
}

h1,h2{
    color:#fff;
}

ul{
    list-style:none;
}
li{
    margin-bottom:10px;
}

@media screen and (max-width:600px){
    .container{
        width:100%;
    }
}